<div class="pageLinks userPages">
  <a href="/inventory" data-target="home">
    <img src="images/inventory.svg" alt="tips">
    <span>Inventory</span>
  </a>

  <a href="/menu" data-target="home">
    <img src="images/menuFood1.svg" alt="notifications">
    <span>Menu</span>
  </a>

  <a href="/orders" data-target="home">
    <img src="images/orders.svg" alt="support">
    <span>Orders</span>
  </a>

  {{#if (isSuperAdmin user.role_id)}}
    <a href="/accounts" data-target="home">
      <img src="images/accounts.svg" alt="support">
      <span>Accounts</span>
    </a>
  {{/if}}

  <a href="/logout" data-target="home">
    <img src="images/logout.svg" alt="logout">
    <span>Logout</span>
  </a>
</div>