{{#if (isSuperAdmin user.role_id)}}
<section class="dashContainer userDash">
  <section class="sidebar">
    <div class="sideLogo userLogo">
      <span>FAMIKE PARK</span>
      <img src="images/menu.svg" alt="menu" class="menuOpen">
      <img src="images/closeMenu.svg" alt="menu" class="menuClose hidden">
    </div>

    {{>pageLinks}}
  </section>

  <section class="dashBody">
    <div class="dashHead">
      <div class="currentPage">
        {{pageTitle}}
      </div>

      <div class="profileBox userProfileBox">
        <img src="images/userProfile.svg" alt="userProfile">
        <span>{{email}}</span>
      </div>
    </div>

    <div class="dashMain userDashMain">
      <section class="accounts">
        <div class="userAccounts">

          <div class="roleID_keyMap">
            <h3>Role ID KeyMap</h3>

            <div class="roleContainer">
              <div class="role">
                <span>1</span> -
                <span>Super Admin</span>
              </div>

              <div class="role">
                <span>2</span> -
                <span>Manager</span>
              </div>

              <div class="role">
                <span>3</span> -
                <span>Cashier</span>
              </div>

              <div class="role">
                <span>4</span> -
                <span>General User</span>
              </div>
            </div>
          </div>

          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role ID</th>
                <th>Phone</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody id="userAccountsBody">
              {{!-- Table rows will be inserted here dynamically --}}
            </tbody>
          </table>

          <div class="pagination">
            <button id="prev">Previous</button>
            <p>Page: <span id="current-page">1</span></p>
            <button id="next">Next</button>
          </div>
        </div>

        <div class="accountDetails" style="display: none;">
          <div class="backBox">
            <button type="button" class="backToUserAccounts">
              Back
            </button>
          </div>

          <h3>Edit Role ID</h3>

          <div class="userDetails"></div>
        </div>
      </section>
    </div>
  </section>
</section> 

{{else}}
<section class="unauthorized">
  <div class="unAuthMessage">
    <img src="images/unauthorized.svg" alt="unauthorized">
    <p>You are not authorized to access this page.</p>
    <button type="button" class="goBackFromUnauth">
      Go back
    </button>
  </div>
</section>
{{/if}}

<script src="js/accounts.js"></script>

<script>
  const menus = document.querySelectorAll('.menuOpen');
  const closeMenus = document.querySelectorAll('.menuClose');
  const dashboards = document.querySelectorAll('.dashContainer');

  menus.forEach(menu => {
    menu.addEventListener('click', () => {
      menu.classList.add('hidden');

      closeMenus.forEach(closeMenu => {
        closeMenu.classList.remove('hidden');
      })

      dashboards.forEach(dashboard => {
        dashboard.classList.toggle('active');
      });
    });
  });

  closeMenus.forEach(closeMenu => {
    closeMenu.addEventListener('click', () => {
      closeMenu.classList.add('hidden');

      menus.forEach(menu => {
        menu.classList.remove('hidden');
      })

      dashboards.forEach(dashboard => {
        dashboard.classList.toggle('active');
      });
    })
  });

  document.querySelector('.goBackFromUnauth').addEventListener('click', () => location.assign('/menu'));
</script>