<section class="dashContainer userDash">
  <section class="sidebar">
    <div class="sideLogo userLogo">
      <span>POS</span>
      <img src="images/menu.svg" alt="menu" class="menuOpen">
      <img src="images/closeMenu.svg" alt="menu" class="menuClose hidden">
    </div>

    <div class="pageLinks userPages">
      <a href="#" data-target="home">
        <img src="images/dashboard.svg" alt="home">
        <span>Dashboard</span>
      </a>

      <a href="#" data-target="home">
        <img src="images/inventory.svg" alt="tips">
        <span>Inventory</span>
      </a>

      <a href="#" data-target="home">
        <img src="images/menuFood1.svg" alt="notifications">
        <span>Menu</span>
      </a>

      <a href="#" data-target="home">
        <img src="images/orders.svg" alt="support">
        <span>Orders</span>
      </a>

      <a href="#" data-target="home">
        <img src="images/logout.svg" alt="logout">
        <span>Logout</span>
      </a>
    </div>
  </section>

  <section class="dashBody">
    <div class="dashHead"></div>
    <div class="dashMain userDashMain"></div>
  </section>
</section>